{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class = detail>
    <title>{% block title %}{{username}}{% endblock %}</title>
    <h1>{{ bookshelf.title }}</h1>
    <p>カテゴリ:{{ bookshelf.get_cat_display }}</p>
    <p>制作者:{{ bookshelf.name }}</p>
    <hr>
    <h2>本一覧</h2><br>
    {% for book in books %}
        <h3>{{ book.title }}</h3>
        <div>ISBNコード：{{ book.isbn }}</div><br>
        <div>{{ book.comment | safe | linebreaksbr }}</div><br><hr>
    {% endfor %}
    
    <div class="container">
        <div class="row mb-5">
            <div class="col-2">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#testModal">削除</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">削除確認画面</h4></h4>
            </div>
            <div class="modal-body">
                <label>本棚”{{ bookshelf.title }}”を削除しますか？</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <form action = "/delete/{{ bookshelf.pk }}/" method="get">
                    {% csrf_token %}
                    <div>
                        <input type="submit" value="削除" class = reg>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}