<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}
<h2  class = "bookshelflist">{{username}}の本棚一覧</h2><hr>
<div class = "list">
{% for i in book %}
<div class = list2>
  <a href="/detail/{{ i.pk }}/">
    <h3>{{ i }}</h3>
      カテゴリ:{{ i.get_cat_display }}
  </a><hr>
</div>
{% endfor %}
</div><br>
{% endblock %}